<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>ویرایش کاربر </h2>
</div>
<form class="form-horizontal" method="POST" action="/admin/users/<%= user._id %>?_method=put" novalidate>

    <%- include(viewPath('layouts/error-message')) -%>

        <div class="form-group">
            <label for="newName" class="control-label">نام کامل</label>
            <input id="name" type="text" class="form-control" name="newName" value="<%= old('newName', user.name) %>" required
                >
        </div>

        <div class="form-group">
            <label for="newEmail" class="control-label">آدرس ایمیل</label>
            <input id="newEmail" type="email" class="form-control" name="newEmail" value="<%= old('newEmail', user.email) %>" required="">
        </div>

        <div class="form-group">
            <label for="newPassword" class="control-label">پسورد</label>
            <input id="newPassword" type="password" name="newPassword" class="form-control" value="<%= old('newPassword') %>" required="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-warning">ویرایش کاربر</button>
        </div>
</form>